node_modules/
dist/
backend/venv/

.env

*.class

*.py[cod]

*.log

*.jar

target/
dist/

.idea/

terraform/.terraform/

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

