{{- if .Values.mysql.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
spec:
  serviceName: mysql
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: {{ .Values.mysql.image | quote }}
          args: ["--default-authentication-plugin=mysql_native_password"]
          ports:
            - containerPort: 3306
          envFrom:
            - secretRef:
                name: {{ include "bank-app-cd.fullname" . }}-mysql
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
          readinessProbe:
            exec:
              command: ["sh","-c","mysqladmin ping -h 127.0.0.1 -p$MYSQL_ROOT_PASSWORD --silent"]
            initialDelaySeconds: 10
            periodSeconds: 5
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        {{- if .Values.mysql.storage.storageClassName }}
        storageClassName: {{ .Values.mysql.storage.storageClassName | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.mysql.storage.size | quote }}
{{- end }}
