- name: Configure EC2 host
  hosts: ec2
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Enable Docker
      service:
        name: docker
        state: started
        enabled: yes
    
    - name: Install docker-compose plugin
      apt:
        name: docker-compose-plugin
        state: present
        update_cache: yes



# to run:
# ansible-playbook -i inventory.ini playbook.yml