name: Terraform Apply

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Guard (require backend vars)
        run: |
          test -n "${{ vars.AWS_REGION }}" || (echo "Missing vars.AWS_REGION" && exit 1)
          test -n "${{ vars.TF_STATE_BUCKET }}" || (echo "Missing vars.TF_STATE_BUCKET" && exit 1)
          test -n "${{ vars.TF_LOCK_TABLE }}" || (echo "Missing vars.TF_LOCK_TABLE" && exit 1)

      - name: Terraform Init (remote state)
        working-directory: terraform
        run: |
          cat > backend.hcl <<EOF
          bucket         = "${{ vars.TF_STATE_BUCKET }}"
          key            = "envs/dev/terraform.tfstate"
          region         = "${{ vars.AWS_REGION }}"
          dynamodb_table = "${{ vars.TF_LOCK_TABLE }}"
          encrypt        = true
          EOF
          terraform init -backend-config=backend.hcl -input=false

      - name: Terraform Apply (auto-approve)
        working-directory: terraform
        run: terraform apply -auto-approve -input=false
